:root{
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);
}

body{
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--VeryDarkBlue);
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}





/* MAIN CONTAINER */
.main-container{
    display: flex;
    gap: 20px;
}

/* LOGO CONTAINER */
.logo-container{
    background-color: red;
}

/* DATA CONTAINER  */

.data-container{
    background-color: purple;
    min-width: 100px;
}

/* ATTRIBUTION */