@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
--moderateViolet: hsl(263, 55%, 52%);
--veryDarkGrayishblue: hsl(217, 19%, 35%);
--veryDarkBlackishblue: hsl(219, 29%, 14%);
--white:hsl(0, 0%, 100%);
--lightGray: hsl(0, 0%, 81%);
--lightGrayishblue: hsl(210, 46%, 95%);
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed';
    font-size: 13px;
    background-color: var(--lightGrayishblue);
}
/* GRID AND CONTAINERS */
.grid-container {  
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(2,340px);
    gap: 40px 40px;
    grid-auto-flow: row;
    grid-template-areas:
      "first-container first-container second-container third-container"
      "fourth-container fifth-container fifth-container third-container";
}
  
  .first-container { 
    grid-area: first-container; 
    background-color: var(--moderateViolet);
    border-radius: 10px;
}
  
  .second-container { 
    grid-area: second-container; 
    background-color: var(--veryDarkGrayishblue);
    border-radius: 10px;

}
  
  .third-container { 
    grid-area: third-container; 
    background-color: var(--white);
    border-radius: 10px;

}
  
  .fourth-container { 
    grid-area: fourth-container; 
    background-color: var(--white);
    border-radius: 10px;


}
  
  .fifth-container { 
    grid-area: fifth-container; 
    background-color: var(--veryDarkBlackishblue);
    border-radius: 10px;

}

/* CARD STYLES */
.graduated-info{
    display: flex;
    gap: 20px ;
   
}
.graduated-image { 
    border-radius: 50%;
    width: 50px;   
}
.border-purple{
  border: 2px solid hsl(263, 50%, 56%);
}
.name-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name { 
  margin: 0;
}
.description { 
    margin: 0;
    opacity: 0.5;
}

.title{
    font-size: 22px;
    font-weight: 600;
  line-height: 30px;
  }
.text{
    opacity: 0.7;
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
  }

.color-white{
  color: var(--white);
}
.color-dark-gray{
  color: var(--veryDarkGrayishblue);
}



.first-container,
.second-container,
.third-container,
.fourth-container,
.fifth-container
{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:375px) {
  .grid-container{
    display: flex;
    flex-direction: column;
  }
}