@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:root{
  /* FONTS */
  --fontRegularWeight:500;
  --fontBoldWeight:700;
  /* COLOURS */
  --cyanColour:hsl(180, 66%, 49%);
  --gray: hsl(0, 0%, 75%);
  --grayishViolet: hsl(257, 7%, 63%);
  --veryDarkBlue: hsl(255, 11%, 22%);
  --veryDarkViolet: hsl(260, 8%, 14%);
  --red: hsl(0, 87%, 67%);
  /* SIZES */
  --maxWidth:1300px;
}
#root{
  width: 100%;
}
body {
  margin: 0 auto;
  padding: 0rem;
  font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: var(--fontRegularWeight);
  display: flex;
  justify-content: center;
  align-items: center;  
}
/* NAVBAR CSS */
nav{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
  margin: 0 auto;
  font-size: 18px;
  padding: 30px 0;
  max-width: var(--maxWidth);
}
.login-container, .ul-navigation-container{
  display:flex;
  flex-direction:row;
  width:fit-content;
  gap:1rem;
  list-style:none;
  margin: 0;
  padding: 0 0rem;
}
.ul-navigation-container{
  color:var(--gray);
  align-items: center;
  padding: 0; 
}
.ul-navigation-container li{
  text-transform: capitalize;
  font-weight: var(--fontBoldWeight);
}
#logo-navbar{
  padding: 8px 16px 0 0;
  margin: 0;
}
.ul-navigation-container li:hover{
  color: #000;
  cursor: pointer;
}
.header-text-cont h1{
  height: fit-content;
}
.login-container{
  display: flex;
  align-items: center;  
}
.sign-up-btn{
  padding: 1rem;
  background-color: var(--cyanColour);
  border: 0;
  color: #fff;
  border-radius: 25px;
  font-family:'Poppins';
  padding: 10px 20px;
  height: fit-content;
  font-weight: var(--fontBoldWeight);
  font-size: 18px;
}
.sign-up-btn:hover{
  background-color: #9BE3E2;
  cursor: pointer;
}
.login-btn{
  background-color: transparent;
  color: var(--gray);
  font-weight: var(--fontBoldWeight);
  border: none;
  font-family:'Poppins';
  font-size: 18px;
}
.login-btn:hover{
  color: var(--veryDarkViolet);
  cursor: pointer;
}
/* HEADER CSS */
.item-cont{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.header-cont{
  display: flex;
  flex-direction: row;
  margin: 90px auto;
  max-width: var(--maxWidth);
  justify-content: center;
}
.mobile-header-image{
  display: none;
}
.header-text-cont{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0px;
}
.header-title{
  font-weight: var(--fontBoldWeight);
  font-size: 65px;
  line-height: 75px;
  margin: 0;
}
.header-text{
  color: var(--grayishViolet);
  width: 45ch;
  padding: 0;
  margin: 0;
}
.header-button{
  background-color: var(--cyanColour);
  border: 0;
  margin: 30px 0 0 ;
  padding: 13px 35px;
  border-radius: 25px;
  color: #fff;
  font-weight: var(--fontBoldWeight);
  font-size: 18px;
  font-family: 'Poppins';
}
.header-button:hover{
  background-color: #9BE3E2;
  cursor: pointer;
}
/* INPUT COMPONENT */
#container-input-list{
  margin: 50px 0 0;
  padding: 0 0 50px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, #F0F1F6 50%);
  width: 100%;
}
.input-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: url('./assets/images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3A3053;
  border-radius: 10px;
  padding: 50px 50px;
  position: relative;
}
.input-url{
  font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: var(--fontRegularWeight);
  padding: 20px 30px;
  width: 75%;
  border: 0;
  border-radius: 10px;
}
.red-input{
  border: 3px solid var(--red)  ;
}
.red-input::placeholder{
  color: var(--red);
}
.add-a-link{
  color: var(--red);
  position: absolute;
  bottom: 0;
  font-style: oblique;
}
#shorten-button{
  padding: 10px 40px;
  width: fit-content;
  font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: var(--fontBoldWeight);
  border: 0;
  background-color: var(--cyanColour);
  color: #fff;
  border-radius: 10px;
}
#shorten-button:hover{
  background-color: #9BE3E2;
  cursor: pointer;
}
.links-list-cont{
  width: 100%;
  background-color: #F0F1F6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-list{
  display: flex;
  gap: 15px ;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: var(--maxWidth);
}

.link-container{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;
  padding: 10px 20px 10px;
}
.short-link-container{
  display: flex;
  gap: 25px;
  align-items: center;
}
.short-link-container p{
  color: var(--cyanColour);
}
.copy-button{
  background-color: var(--cyanColour);
  border: 0;
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  font-weight: var(--fontBoldWeight);
  font-size: 16px;
  font-family: 'Poppins';
  height: fit-content;
  cursor: pointer;
}
.copy-button:hover{  
  background-color:#9BE3E2; ;
}
.copied-button{
  background-color: var(--veryDarkViolet);
}
.copied-button:hover{
  background-color: var(--veryDarkViolet);
}
/* STADISTICS SECTION */
#advanced-stadistics{
  background-color: #F0F1F6;
  padding: 150px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.advanced-stadistics-container{
  max-width: 1400px;
}
.advanced-stadistics-title{
  text-align: center;
  font-weight: var(--fontBoldWeight);
  font-size: 40px;
  margin: 0;
}
.advanced-stadistics-description{
  text-align: center;
  color: var(--grayishViolet);
  width: 100%;
  margin: 0;

}
.boxes-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px ;
  margin:70px 0 30px;
}
.line-boxes{
  justify-content: center;
  display: flex ;
  align-items: center;
  margin: 0;
  padding: 0;
  stroke: var(--cyanColour);
  stroke-width: 20px;
}
.box-info{
  width: 350px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 65px 30px 30px;
}
.box-image{
  background-color: var(--veryDarkViolet);
  padding: 20px;
  border-radius: 50%;
  /* margin-top: -120px; */
  transform: translateY(-110px);
  overflow: visible;
}
.box-title{
  font-weight: var(--fontBoldWeight);
  font-size: 30px;
  margin-top: -70px;
}
.box-description{
  color: var(--grayishViolet);
  margin: 0;
  margin-top: -45px;
}
.box-info:nth-child(3){
  transform: translateY(50px);
}
.box-info:nth-child(5){
  transform: translateY(80px);
}
/* BOOST SECTION */
#boost-section{
  width: 100%;
  background: url('./assets/images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3A3053;
  margin: 0;
  padding: 60px 0;
}
.boost-container{
  max-width: var(--maxWidth);
  margin: 0  auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boost-title{
  color: #fff;
  margin: 0;
  font-size: 50px;
  text-align: center;
}
.boost-link{
  width: fit-content;
  background-color: var(--cyanColour);
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
}
.boost-link:hover{
  background-color: #9BE3E2;
}
/* FOOTER COMPONENT */
footer{
  background-color: var(--veryDarkViolet);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 0;
}
.footer-container{
  width: 100% ;
  max-width: var(--maxWidth);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer-logo-container img{
  filter:invert() brightness(1.5); 
}
.footer-navigation-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-navigation-title{
  margin: 0 0 15px;
  padding: 0;
  color:#fff;
}
.footer-nav-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px ;
}
.footer-nav-link{
  color: var(--gray);
}
.footer-nav-link:hover{
  color: var(--cyanColour);
  cursor: pointer;
}
.footer-social-icons-cont{
  display: flex;
  gap: 30px;
}
.social-svg{
  fill: #fff;
}
.social-svg:hover{
  fill: var(--cyanColour);
  cursor: pointer;
}
/* TO ASSIGN CATEGORY */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.hidden{
  display: none;
}
.responsive-menu-container{
  top: -450px;
}
.svg-toggle-btn{
  display: none;
}
.responsive-menu-container{
  display: none;
}
/* RESPONSIVE MOBILE  */
@media (max-width:375px){
  nav{
    /* position: fixed; */
  }

  .link-container , .footer-container , .boxes-container, .header-cont , .input-container{
    flex-direction: column;
  }
  .header-title{
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }
  .header-text{
    width: 100%;
    text-align: center;
    margin-top:20px ;
  }
  .header-image-cont, .login-container{
    display: none;
  }
  .ul-navigation-container{
    margin-left: 20px;
  }
  .ul-navigation-container li{
    display: none;
  }
  .ul-navigation-container li:first-of-type{
    display:block;
  }
  .mobile-header-image img{
    width: 100%;
  }
  .header-text-cont{
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .input-container{
    width: 70%;
    padding: 20px 40px;
    gap: 25px;
    display: flex;
    align-items: center;
  }
  .input-url{
    width: 100%;
    padding: 10px 20px;
  }
  .links-list{
    align-items: center;
  }
  .link-container{
    width: 80%;
    gap: 0;
    padding: 0 20px 20px 20px;
  }
  .link-container p {
    /* border-bottom: 1px solid red; */
  }
  .short-link-container{
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 0;
  }

  #shorten-button{
    width: 302px;
    
  }
  .add-a-link{
    left: 5%;
    bottom: 29%;

  }
  .copy-button{
    width: 100%;
  }
  #advanced-stadistics{
    padding-top: 50px;
  }
  .advanced-stadistics-texts{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px ;
    width: 90%;
    margin: 0 auto;
  }
  .advanced-stadistics-title{
    font-size: 27px;
  }
  .advanced-stadistics-description{
    font-size: 16px;
    padding: 00px;
    width: 100%;
  }
  .footer-container{
    align-items: center;
    gap: 20px ;
  }
  .boxes-container{
    align-items: center;
    gap: 20px ;
  }
  .box-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
  }
  .box-title{
    margin-top: -90px;
    font-size:27px;
  }
  .box-description{
    font-size: 15px;
  }
  /* .line-boxes{
    display: none;
  } */
  .line-responsive{
    justify-content: center;
    display: flex ;
    align-items: center;
    margin: 0;
    padding: 0;
    stroke: var(--cyanColour);
    stroke-width: 20px;
    display: none;
  }
  #boost-section{
    padding: 70px 0;
  }
  .boost-container{
    gap: 20px;
  }
  .boost-title{
    font-size:25px;
    padding: 0 10px;
  }
  .mobile-header-image{
    display: block;
    overflow-x: hidden;
  }  
  .mobile-header-image img{
    width: 130%;
    height: auto;
    transform: translateX(20px);
  }
  
  footer > *{
    text-align: center;
  }
  .footer-social-icons-cont{
    margin-top: 20px;
  }


  .responsive-menu-container{
    position: absolute;
    background-color: #3A3053;
    border-radius: 10px ;
    width: 70%;
    list-style: none;
    /* margin-left: 30px; */
    padding: 50px 20px;
    margin: 50px 0 0 00px;
    height: 260px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    left: 10%;
    /* top: 0px; */
  }

  .responsive-menu-container li{
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
  }
  .responsive-sign-up{
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0px;
  }
  #responsive-sign-up-li{
    width: 100%;
  }
  .hr-responsive{
    width: 100%;
    border-color: var(--grayishViolet);
    opacity: 0.3;
    /* border: 0.5px solid red; */
  }

  .svg-toggle-btn{
    width:50px;
    height: auto;
    margin-right: 10px;
    display: block;
  }


  .line-boxes{
    transform: rotate(90deg);
  }
  .line-boxes svg{
    width: 50px;
  }
  #toggle-btn{
    display: block;
  }
  .show-responsive{
    animation: translateResponsiveMenu 0.5s forwards;
  }
  .hide-responsive{
    animation: hideResponsiveMenu 0.5s forwards;
  }
  @keyframes translateResponsiveMenu {
    from{
      top: -450px;
    }
    to{
      top: 50px;
    }
  }
  @keyframes hideResponsiveMenu {
    from{
      top: 50px;
    }
    to{
      top: -450px;
    }
  }
}