@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root{
    --bodyBg: hsl(0, 0%, 98%);
    --fontColor:hsl(200, 15%, 8%);
    --navbarBg:hsl(0, 0%, 100%);
    --countryCardBg:hsl(0, 0%, 100%);
    --cardShadow:rgba(227,227,227,0.32);
    --scrollBarThumb:hsl(200, 15%, 8%);
    --scrollBarTrack:#fff;

    /* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
    - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
    - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
    - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
    - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
    - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
}
[data-theme="dark"] {
    --bodyBg:hsl(207, 26%, 17%);
    --navbarBg:hsl(209, 23%, 22%);
    --fontColor:hsl(0, 0%, 100%);
    --countryCardBg:hsl(209, 23%, 22%);
    --cardShadow: rgba(0,0,0,0.6);
    --scrollBarThumb:hsl(0, 0%, 100%);
    --scrollBarTrack:hsl(209, 23%, 22%);
}
/* Estilo para la barra de desplazamiento en navegadores webkit (Safari, Chrome) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento vertical */
    height: 12px; /* Altura de la barra de desplazamiento horizontal */
  }
  
  /* Estilo para el riel de la barra de desplazamiento en navegadores webkit */
  ::-webkit-scrollbar-track {
    background: var(--scrollBarTrack); /* Color de fondo del riel de la barra de desplazamiento */
  }
  
  /* Estilo para el pulgar de la barra de desplazamiento en navegadores webkit */
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollBarThumb); /* Color del pulgar de la barra de desplazamiento */
    border-radius: 6px; /* Borde redondeado del pulgar */
    height: 50px;
}
#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Nunito Sans';
    background-color: var(--bodyBg);
}
.navbar{
    background-color: var(--navbarBg);
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    -webkit-box-shadow: 0px 7px 22px 9px rgba(0,0,0,0.03); 
    -moz-box-shadow: 0px 7px 22px 9px rgba(0,0,0,0.03);
    box-shadow: 0px 7px 22px 9px rgba(0,0,0,0.03);
}
.header-title{    
    color: var(--fontColor);
    margin-left: 30px;
}
.theme-switch-container{
    margin-right: 30px;
}
.theme-switch-container button{
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: var(--fontColor);
    font-weight: 800;
    cursor: pointer;
}
/* FILTERS */
.filters-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 30px 0px;
}
.search-input{
    background-color: var(--navbarBg);
    color: var(--fontColor);
    border: 0;
    padding: 15px;
    min-width: 30vw;
    border-radius: 5px;
    -webkit-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    -moz-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    box-shadow: -1px 9px 53px 0px var(--cardShadow);
    font-family: 'Nunito Sans';
}
.search-input::placeholder{
    color: var(--fontColor);
    font-family: 'Nunito Sans';

}
.select-region{
    background-color: var(--navbarBg);
    color: var(--fontColor);
    font-family: 'Nunito Sans';
    border: 0;
    padding: 15px;
    min-width:15vw;
    border-radius: 5px;
    -webkit-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    -moz-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    box-shadow: -1px 9px 53px 0px var(--cardShadow);
}
/* GRID ALL COUNTRIES */
.grid-countries{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    gap: 30px;
    padding: 30px 0;
    justify-content: center;
    width: 100%;
}
/* COUNTRY CARD */
.country-card{
    padding: 0;
    background-color: var(--countryCardBg);
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    -moz-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    box-shadow: -1px 9px 53px 0px var(--cardShadow);
}
.country-name{
    margin: 0;
}
.country-data-container{
    padding: 15px;
}
.country-data-container > *{
    color: var(--fontColor);
}
.country-image-container{
    width: 100%;
}
.country-image{
    width: 100%;
}
.country-link{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
/* SINGLE COUNTRY */
.loading{
    color: var(--fontColor);
}
.back-button{
    position: absolute;
    top: 15%;
    left: 5%;
    text-decoration: none;
    padding: 15px 25px;
    background-color: var(--navbarBg);
    color: var(--fontColor);
    -webkit-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    -moz-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    box-shadow: -1px 9px 53px 0px var(--cardShadow);
    border-radius: 5px;
}
.back-button i{
    margin: 0 10px;
}
.single-country-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:90vh;
}
.image-container{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}
.image-container img{
    width: 100%;
    max-width: 500px;
    height: auto;
}
.single-card-data-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-flow:row wrap;
}
.single-card-data-container h1{
    width: 100%;
}
.first-data-container{
    width: 50%;
}
.second-data-container{
    width: 50%;
}
.related-countries-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.related-countries-title{
    color: var(--fontColor);
}
.single-country-title{
    color: var(--fontColor);
}
.single-card-data-container p{
    color: var(--fontColor);
}
.border-country{
    height: 20px;
    background-color: var(--navbarBg);
    -webkit-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    -moz-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    box-shadow: -1px 9px 53px 0px var(--cardShadow);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--navbarBg);
    color: var(--fontColor);
}

/* TO ASSIGN CATEGORY */