@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root{
    --bodyBg: hsl(0, 0%, 98%);
    --fontColor:hsl(200, 15%, 8%);
    --navbarBg:hsl(0, 0%, 100%);
    --countryCardBg:hsl(0, 0%, 100%);
    --cardShadow:rgba(227,227,227,0.32);
    /* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
}
[data-theme="dark"] {
    --bodyBg:hsl(207, 26%, 17%);
    --navbarBg:hsl(209, 23%, 22%);
    --fontColor:hsl(0, 0%, 100%);
    --countryCardBg:hsl(209, 23%, 22%);
    --cardShadow: rgba(0,0,0,0.6);
}

body{
    padding: 0;
    
    min-height: 100vh;
    font-family: 'Nunito Sans';
    background-color: var(--bodyBg);
}

.navbar{
    background-color: var(--navbarBg);
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}
.header-title{    
    color: var(--fontColor);
}
.theme-switch-container button{
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: var(--fontColor);
    font-weight: 800;
}
/* FILTERS */
.filters-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
/* GRID ALL COUNTRIES */
.grid-countries{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    gap: 30px;
    padding: 30px 0;
    justify-content: center;
}
/* COUNTRY CARD */
.country-card{
    padding: 0;
    background-color: var(--countryCardBg);
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    -moz-box-shadow: -1px 9px 53px 0px var(--cardShadow);
    box-shadow: -1px 9px 53px 0px var(--cardShadow);
}
.country-name{
    margin: 0;
}
.country-data-container{
    padding: 15px;
}

.country-data-container > *{
    color: var(--fontColor);
}
.country-image-container{
    width: 100%;
}
.country-image{
    width: 100%;
}
.country-link{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
/* SINGLE COUNTRY */
.back-button{
   
}
.single-country-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:90vh;
}
.image-container{

}
.single-card-data-container{

}
.first-data-container{

}
.second-data-container{

}
.related-countries-container{

}
