@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-container{
    display: flex;
}
.card{
    background-color:  hsl(31, 77%, 52%);
    width: 13rem;
    height:25rem;
    padding: 3rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    position: relative;
}
.card-title{
    font-family: 'Big Shoulders Display',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(0, 0%, 95%);
}
.card-description{
    color:  hsla(0, 0%, 100%, 0.726);
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 400;
    font-size: 15px;    
    line-height: 1.6rem;
}
.btn-more{
    border-radius: 30px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 600;
    height: 3rem;
    width: 9rem;
    border: none; 
    position: absolute;
    bottom:3rem;    
}
.btn-more:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    font-weight: 500;
}
.card:nth-child(2){
    background-color: hsl(184, 100%, 22%);    
    border-radius: 0;
}
.card:nth-child(2) .btn-more{
    color:hsl(184, 100%, 22%);
}
.card:nth-child(2) .btn-more:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
}
.card:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-radius: 0;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.card:nth-child(3) .btn-more{
    color:hsl(179, 100%, 13%);   
}
.card:nth-child(3) .btn-more:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
}

.attribution{
    position: absolute;
    top: 93%;
    left: 2%;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}
.attribution a{
    color: #4e1a7e;   
}
.attribution a:visited{
    color: #4e1a7e;   
}
@media (max-width:960px){
    
    .main-container{        
        flex-direction: column;
        width: 60%;
        align-items: center;
        max-width: 350px;
        margin-top: 9vh;
    }
    .card{
        width: 100%;
        border-bottom-left-radius:0rem;
        border-top-right-radius: .5rem;
    }
    .card:nth-child(3){
        border-top-right-radius: 0rem;
        border-bottom-left-radius: .5rem;

    }
    .attribution{
        top: 250%;
    }
}